@import "main";

.header-view{
  z-index: 1;
  width: 100%;
  margin: 0 auto;
  height: 68px;
  background-color: rgba(255,255,255,0.8);
  top: 0;
  position: fixed;
  box-shadow: @boxShadow;
  -moz-box-shadow: @boxShadow;
  -webkit-box-shadow: @boxShadow;
}

.header-active{
  color: #ffffff !important;
  background-color: @mainColor;
  border-bottom: 8px solid #109db1;
  border-radius: 0 0 8px 8px;
  i{
    display: block !important;
  }
}

.header-item{
  line-height: 68px;
  padding: 0 40px;
  text-decoration: none;
  position: relative;
  text-align: center;
  float: left;
  i{
    display: none;
  }
}

.header.row{
  width: 560px;
  margin: 0 auto;
  text-align: center;
}

.user-header.ui{
  height: 68px;
  width: 100px;
  float: right;
  margin: 0 150px 0 0;
  img{
    height: 35px;
    border-radius: 50%;
    margin-top: 18px;
    margin-right: 12px;
  }
  span{
    color: #a8a8a8;
    height: 68px;
    float: right;
    line-height: 68px;
    cursor: pointer;
  }
}


.active-icon{
  background: url(../assets/matter/header-active.png) 0 0 no-repeat;
  background-size: cover;
  width: 25px;
  height: 7px;
  position: absolute;
  margin: auto;
  left: 0;
  right: 0;
  bottom: -15px;
}

.logo-view{
  background: url(../assets/matter/logo.png) 0 0 no-repeat;
  background-size: cover;
  width: 136px;
  float: left;
  height: 40px;
  margin: 12px 0 0 15px;
  cursor: pointer;
}
