@import "main";

body{

}

.login-view{
  width: 500px;
  margin: 180px auto;
  background-color: #ffffff;
  border-radius: 14px;
  padding-bottom: 15px;
}

.login-header{
  width: 100%;
  height: 85px;
  line-height: 85px;
  text-align: center;
  color: #ffffff;
  background-color: #05c9e3;
  border-radius: 14px 14px 0 0;
  font-size: 26px;
  font-weight: bold;
}

.login-form{
  width: 100%;
}

.login-segment{
  width: 100%;
  padding: 40px 20px 30px 20px;
}

.login-field{
  width: 230px;
  margin: 0 auto 12px auto;
}

.login-input{
  width: 100%;
  height: 34px;
  border-radius: 4px;
  position: relative;
  input{
    width: 100%;
    height: 32px;
    border-style: none;
    border-radius: 4px;
    padding: 0 10px;
    background-color: #fdfdfd;
    color: #bebebe;
    font-size: 14px;
    padding-left: 30px;
    border: 1px solid #dddddd;
  }
}

.login-button{
  width: 176px;
  margin: 40px auto 0 auto;
  height: 45px;
  line-height: 45px;
  text-align: center;
  color: #ffffff;
  background-color: #05c9e3;
  border-radius: 8px;
  cursor: pointer;
}

.icon{
  width: 12px;
  height: 16px;
  position: absolute;
  top: 0;
  bottom: 0;
  margin: auto;
  left: 10px;
}

.user.icon{
  background: url('../assets/matter/images/user.png') 0 0 no-repeat;
}

.password.icon{
  background: url('../assets/matter/images/password.png') 0 0 no-repeat;
}

.login-text{
  width: 250px;
  font-size: 14px;
  color: #929292;
  margin: 0 auto;
  padding-left: 8px;
}

.form.validation.warp{
  width: 100%;
  padding: 0 15px;
}

.form.validation.table-view{
  width: 100%;
  border: 1px solid #9F3A38;
  background-color: #FFF6F6;
  padding: 10px;
  border-radius: 2px;
  li{
    color: #9F3A38;
    width: 100%;
    font-size: 15px;
    margin: 5px 0;
  }
  li:before{
    content: '•';
    left: -1em;
    height: 100%;
    vertical-align: baseline;
    margin-right: 6px;
  }
}

.error-item{
  border: 1px solid #9F3A38 !important;
  background-color: #FFF6F6 !important;
  color: #9F3A38 !important;
}

.hidden-view-header{
  width: 100%;
  margin: 0 auto;
  height: 68px;
}
